OPENAI_API_KEY=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
PHONE_NUMBER=+13465507810
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Mzk2NTM3NjAsImlkIjoiZTE4OTkyMDUtNzdmMC00ZDc1LTk1NjUtNzAyMGY0NTZjMDI2In0.vh3TomyGrEbnvBkWV0aBMgpx555pZMgNWJJRAo_W0vpjGzdECj7vGmDHTsL6yu0E-aTO0cn-n_OzrqrZrd1kBg
TURSO_CONNECTION_URL=libsql://active-study-dylanreedx.turso.io